@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-oswald : "Oswald", sans-serif;
  --font-baskerville: "Baskervville", serif;

  --color-primary-yellow:#FDC700;
  --color-primary-indigo:#312c85;
  --color-neutral-black:#1E1E1E;
  --color-neutral-white: #FEFEFA;
  --color-neutral-grey: #374151;
  --color-neutral-light-grey: #d1d5db;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
